{% extends "layout.html" %}
<!---->
{% block title %} Details {% endblock title %}
<!--title-->
{% block content %}
<!--card-->
<div class="container">
  {% include "components/detailscard.html" %}
  <article class="d-grid gap-2 mb-3">
    <button type="button" class="btn-block">
      <i class="bi bi-heart"></i> Save
    </button>
    <button class="btn-block"><i class="bi bi-heart-fill"></i> Save</button>
  </article>
  <!--tabs-->
  {% include "tabs.html" %}
  <!---->
</div>
{% endblock content %}
