{% extends "layout.html" %}
<!---->
{% block title %} Home {% endblock title %}
<!---->
{% block content %}
<h2>Find your new home and properties</h2>
<!--form-->
{% include "components/forms.html" %}
<!--card-->
<!---->
<div class="container">
  <section class="row justify-content-center">
    {% for estate in estates %}
    <article class="col-12 col-lg-6">
      {% include "components/card.html" with estate=estate %}
    </article>
    {% empty %}
    <p>No estates available at the moment.</p>
    {% endfor %}
  </section>
</div>
<!---->

<!---->
{% endblock content %}
