<div class="card my-4 h-25 p-3" style="width: 100%">
  <p class="text-capitalize">spacious 2 bedroom flat apartment</p>
  <article class="" style="height: 300px">
    <img
      class="card-img-top rounded h-100 w-75 mx-auto d-block"
      src="https://images.pexels.com/photos/8469932/pexels-photo-8469932.jpeg"
      alt="Card image"
    />
  </article>
  <div class="card-body">
    <h4 class="card-title text-danger">block of flats for sale</h4>
    <p class="card-text">
      2-bedroom apartment - ologolo, lekki - ₦150m for sale: spacious 2-bedroom
      apartment located in a secure and serene neighborhood in ologolo, lekki.
      location: ologolo, lekki, lagos ....
    </p>
    <hr />
    <p class="text-danger h3">N150,000,00</p>
  </div>
  <div class="card-footer row">
    <article
      class="col-3 d-flex flex-column justify-content-center align-items-center"
    >
      <i class="bi bi-envelope"></i>
      <small>2 bedrooms</small>
    </article>
    <article
      class="col-3 d-flex flex-column justify-content-center align-items-center"
    >
      <i class="bi bi-person"></i>
      <small>2 bedrooms</small>
    </article>
    <article
      class="col-3 d-flex flex-column justify-content-center align-items-center"
    >
      <i class="bi bi-lock"></i>
      <small>2 bedrooms</small>
    </article>
    <article
      class="col-3 d-flex flex-column justify-content-center align-items-center"
    >
      <i class="bi bi-lock"></i>
      <small>2 bedrooms</small>
    </article>
  </div>
</div>
