<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Footer</title>
  </head>
  <body>
    <footer class="p-3 bg-dark text-white">
      <div class="container">
        <div class="row">
          <section class="col-12 col-md-3">
            <article class="">
              <h2>About Us</h2>
              <p class="">
                Nigeria Property Centre (NPC) is a leading property website in
                Nigeria with property listings for sale, rent and lease. We
                offer Nigerian property seekers an easy way to find details of
                property in Nigeria like homes, houses, lands, shops, office
                spaces and other commercial property.
              </p>
              <button
                class="bg-danger text-white border-0 px-3 py-1 rounded mb-4"
              >
                Learn More
              </button>
            </article>
            <article>
              <h5><small>Advertise with Us</small></h5>
              <ul class="list-unstyled">
                <li>
                  <a href="/#" class="text-light text-decoration-none"
                    >Advertise/Market Your Property</a
                  >
                </li>
                <li>
                  <a href="/#" class="text-light text-decoration-none"
                    >Featured Real Estate Companies</a
                  >
                </li>
                <li>
                  <a href="/#" class="text-light text-decoration-none"
                    >Place Banner Adverts</a
                  >
                </li>
              </ul>
            </article>
          </section>

          <section class="col-12 col-md-3">
            <article>
              <h5><small>Market Trends</small></h5>
              <ul class="list-unstyled">
                <li>
                  <a href="#" class="text-light text-decoration-none"
                    >Property Demand Trends</a
                  >
                </li>
                <li>
                  <a href="" class="text-light text-decoration-none"
                    >Average Property Prices</a
                  >
                </li>
              </ul>
            </article>
            <article>
              <h5><small>Popular Property</small></h5>
              <ul class="list-unstyled">
                <li>
                  <a href="" class="text-light text-decoration-none"
                    >Self contain for rent in Lagos</a
                  >
                </li>
                <li>
                  <a href="" class="text-light text-decoration-none"
                    >Flats for rent in Abuja</a
                  >
                </li>
                <li>
                  <a href="" class="text-light text-decoration-none"
                    >Houses for rent in Lagos</a
                  >
                </li>
              </ul>
            </article>
          </section>

          <section class="col-12 col-md-3">
            <article>
              <h5><small>Companies</small></h5>
              <ul class="list-unstyled">
                <li>
                  <a href="" class="text-light text-decoration-none"
                    >Estate Agents</a
                  >
                </li>
                <li>
                  <a href="" class="text-light text-decoration-none"
                    >properties Developer</a
                  >
                </li>
              </ul>
            </article>
            <article>
              <h5><small>Useful Links</small></h5>
              <ul class="list-unstyled">
                <li>
                  <a href="" class="text-light text-decoration-none">Blogs</a>
                </li>
                <li>
                  <a href="" class="text-light text-decoration-none"
                    >Contact Us</a
                  >
                </li>
              </ul>
            </article>
          </section>

          <section class="col-12 col-md-3">
            <article>
              <h5><small>Follow</small></h5>
              <div class="d-flex gap-3">
                <a
                  href=""
                  class="d-block text-decoration-none d-flex justify-content-center align-items-center rounded bg-white"
                  style="height: 40px; width: 40px"
                >
                  <i class="bi bi-facebook text-dark fs-4"></i>
                </a>
                <a
                  href=""
                  class="d-block text-decoration-none d-flex justify-content-center align-items-center rounded bg-white"
                  style="height: 40px; width: 40px"
                  ><i class="bi bi-twitter-x text-dark fs-4"></i
                ></a>
                <a
                  href=""
                  class="d-block text-decoration-none d-flex justify-content-center align-items-center rounded bg-white"
                  style="height: 40px; width: 40px"
                  ><i class="bi bi-whatsapp text-dark fs-4"></i
                ></a>
              </div>
            </article>
          </section>
        </div>
      </div>
    </footer>

    <script>
      document.querySelectorAll(".navbar-nav .nav-link").forEach((link) => {
        link.addEventListener("click", () => {
          const navbar = document.querySelector(".navbar-collapse");
          if (navbar.classList.contains("show")) {
            new bootstrap.Collapse(navbar).hide();
          }
        });
      });
    </script>
  </body>
</html>
