<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-danger text-white py-4">
  <div class="container">
    <!-- Brand -->
    <a
      class="navbar-brand fw-bold text-white"
      href="{% url 'post_estates:home' %}"
      ><img
        src="/static/images/emzy_logo_1.jpeg"
        alt=""
        class="rounded"
        style="width: 40px; height: 30px"
      />
      Emzy Estates</a
    >

    <!-- Mobile toggle -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav links -->
    <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="{% url 'post_estates:home' %}" class="nav-link active"
            >For Sales</a
          >
        </li>

        <li class="nav-item">
          <a href="/" class="nav-link">For Rent</a>
        </li>

        <li class="nav-item">
          <a href="{% url 'post_estates:home' %}" class="nav-link">Companies</a>
        </li>

        <li class="nav-item">
          <a
            href="{% url 'post_estates:home' %}"
            class="nav-link"
            title="New Post"
            >Requests</a
          >
        </li>
        <li class="nav-item">
          <a href="/" class="nav-link" title="New Post">Market Trends</a>
        </li>
        {% if not user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'user_estates:register' %}" class="nav-link">
            Register
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'user_estates:login' %}" class="nav-link"> Login </a>
        </li>
        {% endif %} {% if user.is_authenticated %}
        <li class="nav-item">
          <form
            action="{% url 'user_estates:logout' %}"
            method="post"
            class="d-inline"
          >
            {% csrf_token %}
            <button class="btn btn-outline-light btn-sm">Logout</button>
          </form>
        </li>
        {% endif %} {% if user.is_staff %}
        <li class="nav-item">
          <a href="{% url 'post_estates:new_estate' %}" class="nav-link">
            Add a post
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
